body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	height: 500px;
	text-align: center;
	background-image: url('common/models/hell.jpeg');
	color: white;
	font-size: 200%;
}

a {
    color: grey;
    text-decoration: none;
	text-align: center;
}

a:hover {
    background: #ddd;
}
